---
const { label, icon } = Astro.props
import { Icon } from "./Icons";
---


<article class="bg-neutral-600 px-3 py-1 rounded-full shadow-sm font-lg font-semibold border-transparent border-2
hover:border-neutral-600 hover:bg-[#151515] transition-colors flex gap-2">
    <h4>{label}</h4>
    <Icon type={icon} client:visible/>
</article>